* {
  margin: auto;
  padding: 5px;
  text-align: center justify;
  align-items: center;
  color: black;
  font-size: 20px;
  font-family: "Lucida Console", Times, serif;
}

body {
  background-image: url(./componant/b4.jpg);
  font-size: 22px;
  background-attachment: fixed;
  justify-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

#title{
  font-size: 2.5em;
  font-weight: bold; 
  color: #adc7ff;
  font-style: oblique;
}

.disp {
  width: 93%;
}

.inpt { 
  
  border: none;
  outline:none;
  font-weight: bold;
  color: rgb(43, 43, 48);
  border-bottom: 3px solid rgb(95, 90, 90);
  background-color: rgba(245, 245, 245, 0.473); 
}

#i1 {
  border-radius: 20px 0 0 0; 
}
#bt1 {
  border-radius: 0 0 20px 0;
}
.demo{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.ct{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
}
.city{
  width: 30%;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 10px;
  margin-bottom: 20px;
  
}
.city1
{
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  background-color:rgba(255, 255, 255, 0.623);
  border-radius: 50px 10px 50px 10px; 
}
::placeholder {
  color: rgb(43, 43, 48);
  
}
@media only screen and (max-width: 768px) {
  [class="city"] {
    width: 80%;
    margin: 5px;    
  }
  [class="form"] {
    width: 100%;
    margin: 5px;   
  }
  [class="inpt"] {
  width: 70%;
  
  text-align: center;
  background-color: rgba(255, 255, 255, 0.705);
  }
}